<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
      $(function () {
        dailyBoxOfficeList();
      });

      function dailyBoxOfficeList() {
        $.ajax({
          url: "/movies/dailyBoxOfficeList",
          success: function (dailyBoxOfficeList) {
            $("#display-list").html(dailyBoxOfficeList);
          },
        });
      }
    </script>
  </head>
  <body>
    <p style="text-align: center; font-size: 30px; font-weight: bold; margin: 30px 0">Box Office</p>
    <div id="display-list" style="position: relative; margin: 0 auto; padding: 0 20px; max-width: 1420px"></div>
  </body>
</html>
