@charset "UTF-8";

main {
  width: 100%;
}

header > .wrap {
  background-color: #5587a2;
  color: #f6d256;
  padding: 0px 20px 10px;
  height: 115vh;
  min-width: 200px;
  box-shadow: 6px 0 3px rgb(0, 23, 13, 20%);
}
header > .wrap a {
  color: rgb(255, 235, 168, 80%);
  text-decoration: none;
  font-weight: bold;
}

header > .wrap ul {
  padding: 0;
}
header > .wrap ul > li {
  margin-top: 20px;
  list-style: none;
}

header > .wrap ul > li dl > dt {
  font-weight: 700;
  color: #f6d256;
  border-bottom: 0.5px solid rgb(246, 210, 86, 50%);
  padding: 0.5em 0;
}
header > .wrap ul > li dl > dd {
  font-size: 14px;
  padding: 0.3em 0 0.3em 20px;
  font-style: normal;
  padding-top: 7px;
}
header > .wrap ul > li dl > dd > a {
  text-decoration-line: none;
}
header > .wrap {
  padding-top: 30px;
  padding-left: 20px;
  margin: 0;
}
