@charset "UTF-8";

table {
  margin: 0;
}
thead {
  background-color: #5587a2;
}
tr:nth-child(even) {
  background: #fff3cc;
}
th {
  padding: 10px;
  color: #f6d256;
}
th:nth-child(2) {
  width: 350px;
}
th:nth-child(3) {
  width: 200px;
  text-align: center;
}
th:nth-child(4) {
  width: 160px;
  text-align: center;
}
th:nth-child(5) {
  width: 130px;
  text-align: center;
}
th:nth-child(6) {
  width: 130px;
  text-align: center;
}
th:nth-child(7) {
  width: 130px;
  text-align: center;
}
th:nth-child(8) {
  width: 160px;
  text-align: center;
}

td {
  text-align: center;
}
td:nth-child(1) {
  padding: 10px;
}
td:nth-child(2) {
  width: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #3c6ca8;
}
td:nth-child(3) {
  width: 320px;
  font-weight: bold;
}
td:nth-child(6) {
  color: #fb4357;
}
.direct {
  position: absolute;
  right: 15px;
  top: -80px;
  margin-bottom: 5px;
  font-weight: bold;
}
.direct a {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #f6d256;
  border-radius: 10px;
  color: #fff;
}
