@charset "UTF-8";
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.emimg {
  width: 250px;
  position: absolute;
  top: 3%;
  left: 50%;
}
.cate-ol {
  margin: 10px;
}

.cover {
  text-align: center;
}

.tree-2 > p {
  font-size: 15px;
  letter-spacing: 2px;
}
.tree-2 {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}
.cate-1 {
  color: #f6d256;
  letter-spacing: 5px;
  position: absolute;
  top: 27%;
  left: 250px;
}
.cate-2 {
  margin: 15px;
  border: 2px solid #f6d256;
  border-radius: 20px;
  background-color: #5587a2;
  color: #f6d256;
}
.cate-3 {
  margin: 10px;
  border: 2px solid #f6d256;
  border-radius: 10px;
  background-color: #5587a2;
  color: #ffeba8;
  letter-spacing: 2px;
  box-shadow: 3px 3px 0px 0px #ffeba8;
}

.departmentMemberList {
  position: absolute;
  top: 50%;
  left: 15%;
  scrollbar-width: none;
  width: auto;
}
