@charset "UTF-8";
:root {
  --yellow: #ffeba8;
  --deep-yel: #f6d256;
}

main {
  background-color: #2d4554;
  color: var(--deep-yel);
}
label {
  display: inline-block;
  width: 100px;
  height: 35px;
}

.img {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--yellow);
  border: 2px dashed var(--yellow);
  text-align: center;
  line-height: 100px;
  font-size: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="file"] {
  display: none;
}

.pagetitle {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 10px;
  left: 540px;
}

.form {
  width: 1000px;
  padding: 30px;
  border: 2px solid #f6d256;
  margin: 40px;
  position: relative;
  top: -10px;
  left: 115px;
}

.all {
  font-size: 16px;
  position: relative;
  left: 130px;
}

.dep2 {
  position: relative;
  left: 630px;
}

.img-btn {
  padding: 20px 20px 20px 5px;
}
.img-btn > div > div > button {
  margin-right: 10px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.title_line {
  margin: 20px auto;
}

.wrap > form ul li {
  margin-top: 25px;
  width: 450px;
}
.wrap > form ul li > .active_button {
  margin: 20px 32.5%;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: #5587a2;
  font: 16px;
  font-weight: bold;
  color: #f6d256;
  border-radius: 15px;
  border-color: #f6d256;
  border-width: 2px;
  border-style: outset;
}
